 <!-- content area -->
 <div class="container">
  
  <div class="row">
    <div class="col-md-12">

        <h2>Dashboard</h2><hr>
        <div class="col-md-3 col-xs-12 pull-right">
          <p>Edit or Delete control buttons</p>
          <ul class="list-inline">
            <li>
              <!-- directs to the login page -->
              <a href="#" class="btn btn-default">
                <i class="fa fa-pencil"></i> Edit
              </a>
            </li>
            <li>
              <!-- directs to the register page -->
              <a href="#" class="btn btn-danger">
                <i class="fa fa-trash"></i> Delete
              </a>
            </li>
          </ul>
        </div>
    
        <div class="col-md-9 col-xs-12">
          <h3 class="section-heading">CV preview</h3>
          <div>preview comes here</div>
        </div>

    </div> <!-- ./col -->
  </div><!-- ./roow -->

</div>
<!-- /.container -->